# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.heimdall-frontend.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Asus\Desktop\htmlProjects\heimdall-frontend\.idea\.idea.heimdall-frontend.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
